{% extends 'base.html.twig' %}
{% block title %}<title>Reed users</title>{% endblock %}
{% block body %}
<div class="container" id="container">
    <div class="box_main">

        {# Statuses #}
        <h1 class="display-4 text-center">Read</h1><br>
        {% if data.status is defined %}
            {% if  data.status == 'update' %}
                <div class="alert alert-success" role="alert">
                    <b>User data successfully updated!</b>
                </div>
            {% elseif data.status == 'delete' %}
                <div class="alert alert-warning" role="alert">
                    <b>User has been successfully deleted!</b>
                </div>
            {% elseif data.status == 'MultipleDelete' %}
                <div class="alert alert-warning" role="alert">
                    <b>Users has been successfully deleted!</b>
                </div>
            {% elseif data.status == 'create' %}
                <div class="alert alert-info" role="alert">
                    <b>New user successfully create!</b>
                </div>
            {% endif %}
        {% endif %}


        <div class="d-flex h-100">
            <div class="align-self-start mr-auto">
                <button onclick="location.href='users/new'" class="btn btn-primary" role="button">Create new
                    user
                </button>
            </div>
            <div class="align-self-center mx-auto">
            </div>
            <div class="align-self-end ml-auto">
                <button type="button" class="btn btn-outline-secondary" id="MultiDelete" data-bs-toggle="modal"
                        data-bs-target="#multipleDeleteModal" disabled>
                    Delete selected
                </button>
            </div>
        </div>


        <table class="table  table-hover table-responsive-md-sm">
            <thead>
            <tr>
                <th>
                    <div class="form-check">
                        <label for="checkAll"></label>
                        <input class="form-check-input" type="checkbox" value="" id="checkAll">
                    </div>
                </th>
                <th scope="col">#</th>
                <th scope="col"><i class="fa fa-envelope" aria-hidden="true"></i>Email</th>
                <th scope="col"><i class="fa fa-user" aria-hidden="true"></i>Full name</th>
                <th scope="col"><i class="fa fa-mars" aria-hidden="true"></i>Gender</th>
                <th scope="col"><i class="fa fa-check-square-o" aria-hidden="true"></i>Status</th>
                <th scope="col"><i class="fa fa-bath" aria-hidden="true"></i>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in data.content %}
            <tr data-link="user/{{ user.user_id }}" data-target="_BLANK">
                <th>
                    <div class="form-check">
                        <label><input class="form-check-input" type="checkbox" id="checkbox"
                                      value="{{ user.user_id }}"></label>
                    </div>
                </th>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="{{ 'users/edit/' ~ user.user_id}}"><button class="btn btn-success">Update</button></a>
                    <button type="button" class="btn btn-danger" id="monoDelete" value="{{  user.user_id }}"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {{ data.pagination|raw }}

    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-footer w-100 text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="delete_link" href="">
                        <button class="btn btn-warning">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="multipleDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-footer w-100 text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="multiple_delete" class="btn btn-warning">Delete</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
{% block js %}<script rel="stylesheet" src="assets/javascript/script.js"></script>{% endblock %}