{% extends 'base.html.twig' %}
{% block title %}<title>{{ data.content.full_name }}</title>{% endblock %}
{% block body %}
    <div class="container" id="container">
        <div class="box-show">
            <h4>Information about <i>{{ data.content.full_name }}</i></h4>
            <table class="table table-striped">
                <tr>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>{{ data.content.email }}</td>
                    <td>{{ data.content.full_name }}</td>
                    <td>{{ data.content.gender }}</td>
                    <td>{{ data.content.status }}</td>
                    <td>
                        <a href="/users/edit/{{ data.content.user_id }}"  id="btn-success"><span class="mdi mdi-pencil-circle mdi-36px"></span></a>
                        <a href="/users/delete/{{ data.content.user_id }}" id="btn-danger"><span class="mdi mdi-delete mdi-36px"></span></a>
                    </td>
                </tr>
            </table>
            <div class="link-right">
                <a href="/users" class="link-primary">Return to main page</a>
            </div>
        </div>
    </div>
{% endblock %}


